.gitalk-container {
  .gt-container {
    .gt-header-textarea,
    .gt-header-textarea:hover,
    .gt-comment-admin .gt-comment-content,
    .gt-comment-content {
      background-color: #3B3B3B;
    }

    .gt-comment-content:hover {
      box-shadow: none;
    }

    .gt-comment-body {
      color: var(--text-color) !important;
    }
  }
}