article {
}
canvas#live2dCanvas{
  width: 320px
  height: 520px
}
.post-reward img{
  width: 400px
}
@media (max-width: 767px){
  canvas#live2dCanvas {
    width: 200px
    height: 325px
  }
}
@media (prefers-color-scheme: dark) {
  .gitalk-container {
    .gt-container {
      .gt-header-preview,
      .gt-header-textarea,
      .gt-header-textarea:hover,
      .gt-comment-admin .gt-comment-content,
      .gt-comment-content {
        background-color: #3B3B3B;
      }

      .gt-comment-content:hover {
        box-shadow: none;
      }

      .gt-header-preview,
      .gt-comment-body {
        color: var(--text-color) !important;
      }
    }
  }
}